body, html {
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100%;
}

header {
  background: url('images/background_header.png') no-repeat;
  background-size: contain;
  height: 32%;
}

h1 {
  font-size: calc(2rem + 1.5vw);
}
h2 {
  font-size: calc(1.5rem + 0.5vw);
  text-align: center;
  margin-bottom: 3%;
}
h3 {
  font-size: calc(0.9rem + 0.5vw);
  margin-top: -0.9rem;
}

.navbar-brand {
 margin-left: 3rem;
 color: white;
}
.navbar-brand:hover {
  color: #1A3B3A;
 }

.navbar-nav {
  margin-top: 200%;
}

.bi, .btn, a {
  color: #1A3B3A;
}
.bi:hover, .btn:hover, a:hover {
  color: #67d3d1;
}

.body {
  background: url('images/background_body.png') no-repeat;
  background-size: cover;
  height: 100%;
}

nav {
  position: fixed;
}
ul {
  list-style-type: none;
}

.main {  
  display: flex;
  justify-content: center;
}

.presentation, .cv {
  text-align: left;
  width: 40%;  
}
.signature {
  width: 15%;
  margin-left: 10%;
}

.projets {
  font-size: 14px;
  width: 50%;
}

.card-header {
  text-align: right;
}

.card {
  margin-bottom: 8%;
  border-color: #48A19F;
}
svg, img {
  vertical-align: bottom;
  color: #1A3B3A;
}