@font-face {
	font-family: 'MuseoModerno';
	src: url(./fonts/MuseoModerno/MuseoModerno-Regular.ttf);
}
@font-feature-values 'MuseoModerno' {
  @styleset { alt: 1; }
}
@font-face {
	font-family: 'Signature';
	src: url(./fonts/Oooh_Baby/OoohBaby-Regular.ttf);
}

@font-face {
	font-family: 'Grenadier';
	src: url(./fonts/grenadier/GrenadierNF.ttf);
}
@font-face {
	font-family: 'NovaMono';
	src: url(./fonts/Nova_Mono/NovaMono-Regular.ttf);
}
@font-face {
	font-family: 'Love';
	src: url(./fonts/Love_Light/LoveLight-Regular.ttf);
}
@font-face {
	font-family: 'Architecs_Daughter';
	src: url(./fonts/Architects_Daughter/ArchitectsDaughter-Regular.ttf);
}
@font-face {
	font-family: '20-db';
	src: url(./fonts/20-db/20db.otf);
}
@font-face {
  font-family: 'Lato';
  src: url(./fonts/Lato/Lato-Thin.ttf);
}
@font-face {
  font-family: 'Montserrat';
  src: url(./fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}
@font-face {
  font-family: 'Bai_Jamjuree';
  src: url(./fonts/Bai_Jamjuree/BaiJamjuree-SemiBold.ttf);
}
@font-face {
  font-family: 'astron_boy';
  src: url(./fonts/astron_boy/astron_boy.otf);
}



* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  font-family: 'Century Gothic', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
  background: url('images/header.png') no-repeat;
  height: 50px;
}

h1, h2, h3, h4, h5, .alt {
  font-family: 'MuseoModerno', 'Century Gothic', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.alt {
  font-variant-alternates: styleset(alt);
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 0.7rem;
  margin-top: -0.75rem;
}
h3, h3 a{
  font-size: 1.6rem;
  text-align: center;
  color: #7A5037;
}
h4 {
  font-size: 2rem;
}
h5 {
  font-size: 1rem;
  text-align: center;
  color: #7A5037;
}

a {
  color: #BA7954;
}

.body {
  padding-top: 17%;
  background: url('images/body.png') repeat;
  min-height: 100vh;
}

nav {
  position: fixed;
  left: 0;
  z-index: 99999;
}
.navbar-brand {
  color: white;
}
ul, a {
  list-style-type: none;
  text-decoration: none;
}
.bullet {
  list-style-type: disc;
  margin-left: 5%;
}

.main {  
  display: flex;
  justify-content: center;
}

.presentation, .cv, .projets {
  margin-left: 5%;
  margin-right: 5%;
}
.presentation {
  text-align: justify;
}
.presentation p {
  color: #7A5037;
}
.signature {
  font-family: 'Signature', 'Century Gothic', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2rem;
  margin-left: 10%;
  font-weight: bold;
}
.cv, .projets {
  text-align: left;
}

.dropdown-menu, .dropdown-item, u {
  border-color: #BA7954;
  color: #BA7954;
  border-radius: 5px;
  font-family: 'MuseoModerno', 'Century Gothic', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.dropdown-menu .disabled {
  color: #7A5037;
}
ul .sous-menu {
  color: #377a79;
  list-style-type: circle;
}
.dropdown-item:hover, .dropdown-item:hover u, .dropdown-item:focus {
  background-color: #377a79;
  color: white;
}
.dropdown {
  margin-left: -2%;
}
.dropdown .btn {
  color: white;
  border: inherit;
  border-radius: 5px;
}
.dropdown .btn:focus {
  border-color: #BA7954;
}
.dropdown .bi-list:hover, .dropdown .bi-list:focus {
  color: #7A5037;
}

.accordion {
  border-bottom: 1px solid #BA7954;
  border-radius: 0;
}
.accordion-item {
  border: 1px solid #BA7954;
  background: rgba(255, 255, 255, 30%);
}
.accordion-item button svg, .accordion-item .accordion-body svg {
  margin-right: 8px;
}
.accordion-button {
  color: #7A5037;
  background: rgba(255, 255, 255, 30%);
  font-size: inherit;
}
.accordion-button:focus {
  box-shadow: inherit;
}
.accordion-button:not(.collapsed) {
  color: inherit;
  background: #BA7954;
  color: white;
}
.accordion-button:not(.collapsed) svg {
  fill: white;
}
.accordion-button:not(.collapsed)::after {
  filter: brightness(0%) invert(100%);
}
.accordion-body {
  color: #7A5037;
}
.accordion-body ul {
  margin-left: -25px;
}



/* ##### PROJETS ##### */

.wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 2vh;
  grid-auto-rows: minmax(85vw, auto);
  margin-top: 2%;
  margin-bottom: 10%;
}
.projet {
  display: flex;
  background-size: cover;
  background-position: center;
	border-radius: 5px;
}
.projet .overlay {
  display: contents;
}
.projet .overlay {
  color: white;
  position: relative;
  height: 100%;
  width: 100%;
	top: 0;
	left: 0;  
	background-color: rgba(0, 0, 0, 0.3);
	text-shadow: rgb(0, 0, 0) 0 0 4px;
	border-radius: 5px;
  /* center overlay content */
  display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.terre-vignette {
  grid-column: 1;
  grid-row: 1;
  background-image: url("./images/terredethes/vignette.png");
}
.charles-vignette {
  grid-column: 1;
  grid-row: 2;
  background-image: url("./images/charlescantin/vignette.jpg");
}
.caroline-vignette {
  grid-column: 1;
  grid-row: 3;
  background-image: url("./images/carolinealetranger/logo.JPG");
}
.agrume-vignette {
  grid-column: 1;
  grid-row: 4;
  background-image: url("./images/lagrumeindigo/gym.jpg");
}
.av-vignette {
  grid-column: 1;
  grid-row: 5;
  background-image: url("./images/av/vignette.jpg");
}
.jungle-vignette {
  grid-column: 1;
  grid-row: 6;
  background-image: url("./images/lajungleverte/vignette.png");
}
.music-vignette {
  grid-column: 1;
  grid-row: 7;
  background-image: url("./images/oursupermusicapp/logo.png");
}
.dice-vignette {
  grid-column: 1;
  grid-row: 8;
  background-image: url("./images/dicegame/vignette.png");
}
.clipboard-vignette {
  grid-column: 1;
  grid-row: 9;
  background-image: url("./images/clipboard/logo.png");
}
.asso-vignette {
  grid-column: 1;
  grid-row: 10;
  background-image: url("./images/associationdevignobles/vignette.png");
}



/* ##### PROJET ##### */

.wrapper-projet {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2vh;
  margin-bottom: 40vh;
}
.wrapper-projet img {
  width: 100%;
  object-fit: co;
}
.wrapper-projet .tools img {
  width: inherit;
  object-fit: inherit;
}
.wrapper-projet .text {
  color: #7A5037;
  font-size: 1.25rem;
  text-align: center;
  font-family: 'MuseoModerno', 'Century Gothic', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: -2vh;
}
.wrapper-projet .title {
  display: none;
}
.wrapper-projet .description {
  grid-column: 1 / 5;
  grid-row: 1;
  color: #7A5037;
  text-align: center;
}
.wrapper-projet .description img {
  width: inherit;
  object-fit: contain;
}
.wrapper-projet .description .ecole {
  color: #377a79;
  font-weight: bold;
}
.wrapper-projet .description .link {
  border-top: 1px solid #377a79;
  padding-top: 2vh;
  height: 2rem;
}
.wrapper-projet .tools {
  grid-column: 1 / 5;
  grid-row: 2;
  color: #377a79;
  text-align: center;
  border-bottom: 1px solid #377a79;
  padding-bottom: 2vh;
  border-top: 1px solid #377a79;
  padding-top: 2vh;
}



/* ##### ANIMATION IMAGES ##### */
@media (prefers-reduced-motion: no-preference) {
  .wrapper-projet .item > img, .wrapper-projet .item > video {
    scale: .8; opacity: 0;
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range: 250px 500px;
  }
  .wrapper-projet .tools > img {
    scale: inherit; opacity: inherit;
    animation: inherit;
    animation-timeline: inherit;
    animation-range: inherit;
  }
  @keyframes fade-in {
    to { scale: 1; opacity: 1;}
  }
}



/* ##### TERRE DE THÉS ##### */

.terre .moodboard-text {
  grid-column: 1 / 5;
  grid-row: 3;
}
.terre .moodboard {
  grid-column: 1 / 5;
  grid-row: 4;
}
.terre .moodboard img {
  border: solid 1px #1A3B3A;
}
.terre .logos-text {
  grid-column: 1 / 5;
  grid-row: 5;
}
.terre .logo1 {
  grid-column: 1 / 3;
  grid-row: 6;
}
.terre .logo2 {
  grid-column: 3 / 5;
  grid-row: 6;
}
.terre .logo3 {
  grid-column: 1 / 3;
  grid-row: 7;
}
.terre .logo4 {
  grid-column: 3 / 5;
  grid-row: 7;
}
.terre .arborescence-text {
  grid-column: 1 / 5;
  grid-row: 8;
}
.terre .arborescence {
  grid-column: 1 / 5;
  grid-row: 9;
}
.terre .mobiles-text {
  grid-column: 1 / 5;
  grid-row: 10;
}
.terre .mobile1 {
  grid-column: 1 / 3;
  grid-row: 11;
}
.terre .mobile2 {
  grid-column: 3 / 5;
  grid-row: 11;
}
.terre .mobile3 {
  grid-column: 1 / 3;
  grid-row: 12;
}
.terre .mobile4 {
  grid-column: 3 / 5;
  grid-row: 12;
}
.terre .video-text {
  grid-column: 1 / 5;
  grid-row: 13;
}
.terre .video {
  grid-column: 1 / 5;
  grid-row: 14;
  width: 100%;
}
.terre .mockups-text {
  grid-column: 1 / 5;
  grid-row: 15;
}
.terre .mockup1 {
  grid-column: 1 / 5;
  grid-row: 16;
}
.terre .mockup2 {
  grid-column: 1 / 5;
  grid-row: 17;
}
.terre .packagings-text {
  grid-column: 1 / 5;
  grid-row: 18;
}
.terre .packaging1 {
  grid-column: 1 / 5;
  grid-row: 19;
}
.terre .packaging2 {
  grid-column: 1 / 3;
  grid-row: 20;
}
.terre .packaging3 {
  grid-column: 3 / 5;
  grid-row: 20;
}



/* ##### CHARLES CANTIN ##### */

.charles .logo-text {
  grid-column: 1 / 5;
  grid-row: 3;
}
.charles .logo {
  grid-column: 1 / 5;
  grid-row: 4;
}
.charles .mobilew-text {
  grid-column: 1 / 5;
  grid-row: 5;
}
.charles .mobilew1 img, .charles .mobilew2 img, .charles .mobilew3 img, .charles .mobilew4 img {
  border: solid 1px #1A3B3A;
}
.charles .mobilew1 {
  grid-column: 1 / 3;
  grid-row: 6;
}
.charles .mobilew2 {
  grid-column: 3 / 5;
  grid-row: 6;
}
.charles .mobilew3 {
  grid-column: 1 / 3;
  grid-row: 7;
}
.charles .mobilew4 {
  grid-column: 3 / 5;
  grid-row: 7;
}
.charles .mobile-text {
  grid-column: 1 / 5;
  grid-row: 8;
}
.charles .mobile1 {
  grid-column: 1 / 3;
  grid-row: 9;
}
.charles .mobile2 {
  grid-column: 3 / 5;
  grid-row: 9;
}
.charles .mobile3 {
  grid-column: 1 / 3;
  grid-row: 10;
}
.charles .mobile4 {
  grid-column: 3 / 5;
  grid-row: 10;
}
.charles .desktopw-text {
  grid-column: 1 / 5;
  grid-row: 11;
}
.charles .desktopw1 {
  grid-column: 1 / 5;
  grid-row: 12;
}
.charles .desktopw2 {
  grid-column: 1 / 5;
  grid-row: 13;
}
.charles .desktopw3 {
  grid-column: 1 / 5;
  grid-row: 14;
}
.charles .desktopw4 {
  grid-column: 1 / 5;
  grid-row: 15;
}
.charles .desktop-text {
  grid-column: 1 / 5;
  grid-row: 16;
}
.charles .desktop1 {
  grid-column: 1 / 5;
  grid-row: 17;
}
.charles .desktop2 {
  grid-column: 1 / 5;
  grid-row: 18;
}
.charles .desktop3 {
  grid-column: 1 / 5;
  grid-row: 19;
}
.charles .desktop4 {
  grid-column: 1 / 5;
  grid-row: 20;
}



/* ##### CAROLINE À L'ÉTRANGER ##### */



/* ##### L'AGRUME INDIGO ##### */

.agrume .video1-text {
  grid-column: 1 / 5;
  grid-row: 3;
}
.agrume .video1 {
  grid-column: 1 / 5;
  grid-row: 4;
  width: 100%;
}
.agrume .video2-text {
  grid-column: 1 / 5;
  grid-row: 5;
}
.agrume .video2 {
  grid-column: 1 / 5;
  grid-row: 6;
  width: 100%;
}
.agrume .video3-text {
  grid-column: 1 / 5;
  grid-row: 7;
}
.agrume .video3 {
  grid-column: 1 / 5;
  grid-row: 8;
  width: 100%;
}



/* ##### AV ##### */

.av .zoning-text {
  grid-column: 1 / 5;
  grid-row: 3;
}
.av .zoning1 {
  grid-column: 1 / 5;
  grid-row: 4;
}
.av .zoning2 {
  grid-column: 1 / 5;
  grid-row: 5;
}
.av .zoning3 {
  grid-column: 1 / 5;
  grid-row: 6;
}
.av .zoning4 {
  grid-column: 1 / 5;
  grid-row: 7;
}
.av .zoning5 {
  grid-column: 1 / 5;
  grid-row: 8;
}
.av .zoning6 {
  grid-column: 1 / 5;
  grid-row: 9;
}



/* ##### DICE GAME ##### */



/* ##### OUR SUPER MUSIC APP ##### */



/* ##### CLIPBOARD ##### */

.clipboard .desktop-text {
  grid-column: 1 / 5;
  grid-row: 3;
}
.clipboard .desktop1 {
  grid-column: 1 / 5;
  grid-row: 4;
}
.clipboard .desktop2 {
  grid-column: 1 / 5;
  grid-row: 5;
}
.clipboard .desktop3 {
  grid-column: 1 / 5;
  grid-row: 6;
}
.clipboard .desktopvideo {
  grid-column: 1 / 5;
  grid-row: 7;
  width: 100%;
}
.clipboard .mobile1 {
  grid-column: 1 / 3;
  grid-row: 8;
}
.clipboard .mobile2 {
  grid-column: 3 / 5;
  grid-row: 8;
}
.clipboard .mobile3 {
  grid-column: 1 / 3;
  grid-row: 9;
}
.clipboard .mobilevideo {
  grid-column: 3 / 5;
  grid-row: 9;
  width: 100%;
}



/* ##### ASSO ##### */




















/* ################################################# */
/* #################### DESKTOP #################### */
/* ################################################# */

@media screen and (min-width: 1080px) {
  .navbar-brand {
    text-align: right;
  }
  .accordion-item>h3 {
    font-size: 1rem;
  }
  a:hover, .navbar-brand:hover {
    color: #7A5037;
  }
  .dropdown {
    margin-left: 0;
  }
  h3 a:hover {
    color: #BA7954;
  }
  .presentation, .cv, .projets {
    width: 70%;
  }
  .body {
    padding-top: 5%;
  }
  .accordion-body {
    font-size: 0.75rem;
  }
  .accordion-body ul {
    text-align: justify;
  }



  /* ##### PROJETS ##### */
  
  .wrapper {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(45vh, auto);
  }
  .projet .overlay {
    display: none;
  }
  .projet:hover .overlay {
    display: contents;
    color: white;
    position: relative;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;  
    background-color: rgba(0, 0, 0, 0.3);
    text-shadow: rgb(0, 0, 0) 0 0 4px;
    border-radius: 5px;
    /* center overlay content */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .terre-vignette {
    grid-column: 1 / 3;
    grid-row: 1;
  }
  .charles-vignette {
    grid-column: 3;
    grid-row: 1;
  }
  .agrume-vignette {
    grid-column: 1;
    grid-row: 2;
  }
  .caroline-vignette {
    grid-column: 2 / 4;
    grid-row: 2;
  }
  .av-vignette {
    grid-column: 1;
    grid-row: 3;
  }
  .jungle-vignette {
    grid-column: 2;
    grid-row: 3;
  }
  .music-vignette {
    grid-column: 3;
    grid-row: 3;
  }
  .dice-vignette {
    grid-column: 1;
    grid-row: 4;
  }
  .clipboard-vignette {
    grid-column: 2;
    grid-row: 4;
  }
  .asso-vignette {
    grid-column: 3;
    grid-row: 4;
  }  



  /* ##### PROJET ##### */

  .wrapper-projet .text {
    font-size: 1rem;
  }
  .wrapper-projet .description {
    text-align: justify;
  }
  .wrapper-projet .description .title-mobile {
    display: none;
  }
  .wrapper-projet .title {
    grid-column: 1;
    grid-row: 1;
    /*background-position: top;
    background-repeat: no-repeat;
    background-size: contain;*/
    text-align: center;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .wrapper-projet .description {
    grid-column: 2 / 5;
    grid-row: 1;
    color: #7A5037;
  }



  /* ##### TERRE DE THÉS ##### */

  .terre .title {
    /*background-image: url("./images/terredethes/logo1.png");*/
    font-family: 'Grenadier', 'Century Gothic', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #405554;
    color: #9a6f26;
  }

  .terre .logo1 {
    grid-column: 1;
    grid-row: 6;
  }
  .terre .logo2 {
    grid-column: 2;
    grid-row: 6;
  }
  .terre .logo3 {
    grid-column: 3;
    grid-row: 6;
  }
  .terre .logo4 {
    grid-column: 4;
    grid-row: 6;
  }
  .terre .arborescence-text {
    grid-column: 1 / 5;
    grid-row: 7;
  }
  .terre .arborescence {
    grid-column: 1 / 5;
    grid-row: 8;
  }
  .terre .mobiles-text {
    grid-column: 1 / 5;
    grid-row: 9;
  }
  .terre .mobile1 {
    grid-column: 1;
    grid-row: 10;
  }
  .terre .mobile2 {
    grid-column: 2;
    grid-row: 10;
  }
  .terre .mobile3 {
    grid-column: 3;
    grid-row: 10;
  }
  .terre .mobile4 {
    grid-column: 4;
    grid-row: 10;
  }
  .terre .video-text {
    grid-column: 1 / 5;
    grid-row: 11;
  }
  .terre .video {
    grid-column: 1 / 5;
    grid-row: 12;
    width: 100%;
  }
  .terre .mockups-text {
    grid-column: 1 / 5;
    grid-row: 13;
  }
  .terre .mockup1 {
    grid-column: 1 / 3;
    grid-row: 14;
  }
  .terre .mockup2 {
    grid-column: 3 / 5;
    grid-row: 14;
  }
  .terre .packagings-text {
    grid-column: 1 / 5;
    grid-row: 15;
  }
  .terre .packaging1 {
    grid-column: 1 / 3;
    grid-row: 16;
  }
  .terre .packaging2 {
    grid-column: 3 / 4;
    grid-row: 16;
  }
  .terre .packaging3 {
    grid-column: 4 / 5;
    grid-row: 16;
  }



  /* ##### CHARLES CANTIN ##### */

  .charles .title {
    /*background-image: url("./images/charlescantin/vignette.jpg");*/
    font-family: 'NovaMono', 'Century Gothic', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #47555e;
    color: #eeeeee;
  }
  .charles .logo {
    grid-column: 2 / 4;
    grid-row: 4;
  }
  .charles .mobilew1 {
    grid-column: 1;
    grid-row: 6;
  }
  .charles .mobilew2 {
    grid-column: 2;
    grid-row: 6;
  }
  .charles .mobilew3 {
    grid-column: 3;
    grid-row: 6;
  }
  .charles .mobilew4 {
    grid-column: 4;
    grid-row: 6;
  }
  .charles .mobile-text {
    grid-column: 1 / 5;
    grid-row: 7;
  }
  .charles .mobile1 {
    grid-column: 1;
    grid-row: 8;
  }
  .charles .mobile2 {
    grid-column: 2;
    grid-row: 8;
  }
  .charles .mobile3 {
    grid-column: 3;
    grid-row: 8;
  }
  .charles .mobile4 {
    grid-column: 4;
    grid-row: 8;
  }
  .charles .desktopw-text {
    grid-column: 1 / 5;
    grid-row: 9;
  }
  .charles .desktopw1 {
    grid-column: 1 / 5;
    grid-row: 10;
  }
  .charles .desktopw2 {
    grid-column: 1 / 5;
    grid-row: 11;
  }
  .charles .desktopw3 {
    grid-column: 1 / 5;
    grid-row: 12;
  }
  .charles .desktopw4 {
    grid-column: 1 / 5;
    grid-row: 13;
  }
  .charles .desktop-text {
    grid-column: 1 / 5;
    grid-row: 14;
  }
  .charles .desktop1 {
    grid-column: 1 / 5;
    grid-row: 15;
  }
  .charles .desktop2 {
    grid-column: 1 / 5;
    grid-row: 16;
  }
  .charles .desktop3 {
    grid-column: 1 / 5;
    grid-row: 17;
  }
  .charles .desktop4 {
    grid-column: 1 / 5;
    grid-row: 18;
  }



  /* ##### CAROLINE À L'ÉTRANGER ##### */

  .caroline .title {
    /*background-image: url("./images/carolinealetranger/logo.JPG");*/
    font-family: 'Love', 'Century Gothic', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #373737;
    color: white;
    font-size: 3rem;
    line-height: 2rem;
  }



  /* ##### L'AGRUME INDIGO ##### */

  .agrume .title {
    font-family: 'Architecs_Daughter', 'Century Gothic', 'Segoe UI', Tahoma, Geneva, Verdana,   sans-serif;
    background-color: #002B58;
    color: #Ec994B;
  }



  /* ##### AV ##### */

  .av .title {
    /*background-image: url("./images/av/logo.png");*/
    font-family: '20-db', 'Century Gothic', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #dd9933;
    color: black;
  }



  /* ##### DICE GAME ##### */

  .dice .title {
    /*background-image: url("./images/dicegame/vignette.png");*/
    font-family: 'Lato', 'Century Gothic', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(241, 241, 241);
    color: red;
  }



  /* ##### LA JUNGLE VERTE ##### */

  .jungle .title {
    font-family: 'Segoe UI', 'Century Gothic', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #31b472;
    color: white;
  }



  /* ##### OUR SUPER MUSIC APP ##### */

  .music .title {
    /*background-image: url("./images/oursupermusicapp/logo.png");*/
    font-family: 'Montserrat', 'Century Gothic', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #F9E4D4;
    color: #470D21;
  }



  /* ##### CLIPBOARD ##### */

  .clipboard .title {
    /*background-image: url("./images/clipboard/logo.png");*/
    font-family: 'Bai_Jamjuree', 'Century Gothic', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #E8E9EA;
    color: #26BAA4;
  }

  .clipboard .mobile1 {
    grid-column: 1;
    grid-row: 8;
  }
  .clipboard .mobile2 {
    grid-column: 2;
    grid-row: 8;
  }
  .clipboard .mobile3 {
    grid-column: 3;
    grid-row: 8;
  }
  .clipboard .mobilevideo {
    grid-column: 4;
    grid-row: 8;
    width: 100%;
  }



  /* ##### ASSO ##### */

  .asso .title {
    /*background-image: url("./images/associationdevignobles/vignette.png");*/
    font-family: 'astron_boy', 'Century Gothic', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f6f6f6;
    color: rgb(129, 22, 85);
  }

}
