body, html {
  font-size: 1vw;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100%;
}

header {
  background: url('images/background_header.png') no-repeat;
  background-size: cover;
  height: 32%;
}

h1 {
  font-size: 3.5vw;
}
h2 {
  font-size: 1.8vw;
  text-align: center;
  margin-bottom: 1.8vw;
  color: #7A5037;
}
h3 {
  font-size: 1.4vw;
  margin-top: -0.9vw;
}
h4 {
  font-size: 1.6vw;
}
h5 {
  font-size: 1vw;
}

.navbar-brand {
 margin-left: 4vw;
 color: white;
}

.navbar-nav {
  margin-top: 6vw;
}

.bi, .bi-list, .btn, a {
  color: #BA7954;
}
.bi:hover, .bi-list:hover, .btn:hover, .navbar-brand:hover, a:hover {
  color: #7A5037;
}

.body {
  margin-top: 17%;
  background: url('images/background_body.png') no-repeat;
  background-size: cover;
}
.body-presentation, .body-fe {
  height: 100%;
}

nav {
  position: fixed;
  z-index: 99999;
}
ul, a {
  list-style-type: none;
  text-decoration: none;
}
.bullet {
  list-style-type: disc;
  margin-left: 5%;
}

.main {  
  display: flex;
  justify-content: center;
}

.presentation {
  text-align: left;
  font-size: 0.8vw;
  width: 40%;
}
.presentation p {
  color: #7A5037;
}
.signature {
  width: 15%;
  margin-left: 10%;
}

.projets, .cv {
  font-size: 0.8vw;
  width: 70%;
}

.competences {
  display: flex;
}

.card-header {
  text-align: right;
  border-color: white;
}

.card {
  margin-bottom: 8%;
  border-color: #BA7954;
  height: 92%;
  border-radius: 0px;
}
svg, img {
  vertical-align: bottom;
  color: #BA7954;
}
h4 svg {
  vertical-align: bottom;
  fill: #7A5037;
  margin-right: 1vw;
}
.disabled.card {
  border-color: #bfbfbf;
  color: #bfbfbf;
}

.dropdown-menu, .dropdown-item, .dropdown-divider {
  border-color: #BA7954;
  color: #BA7954;
  border-radius: 0px;
}

.btn {
  border-radius: 0px;
  margin-top: 1vw;
}

.accordion-item {
  border: 1px solid #BA7954;
  background: rgba(255, 255, 255, 30%);
}
.accordion-button {
  color: #7A5037;
  background: rgba(255, 255, 255, 30%);
  font-size: inherit;
}
.accordion-button:focus {
  box-shadow: inherit;
}
.accordion-button:not(.collapsed) {
  color: inherit;
  background: #BA7954;
  color: white;
}
.accordion-button:not(.collapsed) svg {
  fill: white;
}
.accordion-button:not(.collapsed)::after {
  filter: brightness(0%) invert(100%);
}

video {
  border: 1px solid black;
  width: 1000px;
}

@media screen and (max-width: 1400px) {
  .projets, .cv, .presentation {
    width: 70%;
    font-size: 1.2vw;
  }
  header {
    height: 27%;
  }
  .navbar-nav {
    margin-top: 13vh;
  }
  .body {
    margin-top: 17%;
  }
  h5 {
    font-size: 1.4vw;
  }
  video {
    width: 700px;
  }
}

@media screen and (max-width: 1080px) {
  .projets, .cv, .presentation {
    width: 70%;
    font-size: 1.4vw;
  }
  header {
    height: 23%;
  }
  .navbar-nav {
    margin-top: 15vh;
  }
  .body {
    margin-top: 20%;
  }
  h5 {
    font-size: 1.4vw;
  }
  video {
    width: 550px;
  }
}

@media screen and (max-width: 768px) {
  .projets, .cv, .presentation {
    width: 90%;
    font-size: 2vw;
  }
  h1 {
    font-size: 4vw;
  }
  h2, .dropdown-item {
    font-size: 3vw;
  }
  h3 {
    font-size: 1.6vw;
  }
  h4 {
    font-size: 1.8vw;
  }
  h5 {
    font-size: 2vw;
  }
  header {
    height: 15%;
  }
  .navbar-nav {
    margin-top: 12vh;
  }
  .body {
    margin-top: 20%;
  }
  h5 img, h5 svg {
    width: 24px;
    height: 24px;
  } 
  video {
    width: 550px;
  }
}

@media screen and (max-width: 576px) {
  .projets, .cv {
    width: 90%;
    font-size: 2.5vw;
  }
  .presentation {
    font-size: 3.5vw;
    text-align: center;
  }
  h1 {
    font-size: 5vw;
  }
  h2, .dropdown-item {
    font-size: 4vw;
  }
  h3 {
    font-size: 2vw;
  }
  h4 {
    font-size: 3vw;
  }
  h5 {
    font-size: 3vw;
  }
  header {
    height: 12%;
  }
  .navbar-nav {
    margin-top: 10vh;
  }
  .body {
    margin-top: 25%;
  }
  .signature {
    width: 30%;
    margin-left: 0%;
  }
  h5 img, h5 svg {
    width: 16px;
    height: 16px;
  } 
  video {
    width: 330px;
  }
}

/**

svg, img {
  width: 24px;
  height: 24px;
}

svg, img {
  width: 16px;
  height: 16px;
}

background-color: rgba(255, 255, 255, 30%);