body {
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
  background-image: url('images/background_header.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 300px;
}

h1 {
  font-size: 50px;
}
h2 {
  font-size: 20px;
  margin-top: -10px;
}
h3 {
  font-size: 40px;
}

.navbar-brand {
 margin-left: 100px;
}

.navbar-nav {
  margin-top: 80px;
}

.bi {
  color: black;
}

.body {
  background-image: url('images/background_body.png') ;
  background-repeat: no-repeat;
  background-size: cover;
}

.main {  
  display: flex;
  justify-content: center;
}

.presentation, .cv, .projets {
  text-align: center;
  width: 775px;
  
}

ul {
  list-style-type: none;
}

@media screen and (min-width: 576px) { /**phones**/

}

@media screen and (min-width: 834px) { /**tablettes**/

}

@media screen and (min-width: 1024px) { /**tablettes**/

}

@media screen and (min-width: 1280px) { /**small screens**/

}

@media screen and (min-width: 1366px) { /**medium screens**/
  
}

@media screen and (min-width: 1920px) { /**big screens**/

}